<!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="d-flex justify-content-center">
  <div class="card text-white bg-primary mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{project.title}}</h5>
      <p class="card-text">{{project.desc}}</p>
       <p>Created by {{project.user.name}} on {{format_date project.date}}</p>
    </div>
  </div>
</div>

{{/each}}