header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

body{
 background-color:  #f8f9fa;
}

.login{
  margin-left: 20%;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  box-shadow: -1px -1px 6px 0 rgb(122, 221, 102), 4px 4px 16px 2px rgb(92, 162, 235);
  width: 100%;

}