header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

body{
 background-color:  #f8f9fa;
}

.login{
  margin-left: 20%;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  box-shadow: -1px -1px 6px 0 rgb(122, 221, 102), 4px 4px 16px 2px rgb(92, 162, 235);
  width: 100%;

}

.comment-box {
  background-color: #f8f9fa;
  color: #343a40; 
  padding: 10px;
  border-radius: 8px;
  margin: 5px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.add-comment-btn {
  border-color: #f8f9fa; 
  color: #f8f9fa;
  transition: background-color 0.3s, color 0.3s;
}

.add-comment-btn:hover {
  background-color: #f8f9fa; 
  color: #007bff; 
}

.comment-box {
  background-color: #f8f9fa; 
  color: #343a40; 
  padding: 10px;
  border-radius: 8px;
  margin: 5px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}